
html, body {
  height: 100%;
}

/*body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  /*justify-content: center;*/

  /* This centers our sketch vertically. */
  /*align-items: center;

} */

#defaultCanvas0 {
	border: 4mm ridge rgb(170, 50, 220, .6);
	margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}